In [1]:
thedict ={
    "name":'xyz',
    "phone":'1223333'
}
print(thedict)

{'name': 'xyz', 'phone': '1223333'}

In [7]:
student={ 'name':'arya college',
         "branch":'CSE'
         }
student.keys()

dict_keys(['name', 'branch'])

In [3]:
student.values()

dict_values(['arya college', 'CSE'])

In [5]:
print(print('hello'))

hello
None

In [6]:
print(True+True+False)

2

In [1]:
print("K")

K

In [ ]:
# student={
#     "name":"shiv",
#      "age":"21"
# }

In [ ]:
# a,b,c,d=(1,2,3,4)

In [5]:
# a=1,2,3,4,5,58
# print(type(a))

<class 'tuple'>

In [3]:
print(print)

<built-in function print>

In [8]:
student['rollnumber']="21Easycs055"

In [9]:
print(student)

{'name': 'arya college', 'branch': 'CSE', 'rollnumber': '21Easycs055'}

arithmatic

In [10]:
a=5
b=6
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a**b)
print(a//b)

11
-1
30
0.8333333333333334
5
15625
0

comparison

In [11]:
a=5
b=6
print(a==b)
print(a!=b)
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)

False
True
False
True
False
True

assignment operator

In [24]:
# a=5
b=7
a=5
a
b=b+5
a=a-3
a*3
a/3
a%3
a//3
a**2

4

 identity operator
 is= return true if both variables are the same 
 is not= return true if both variables are  not the same object

membership operator
IN =True if exist(x in y)
not in= true if not exit(x not in y)

In [25]:
# initialized some sequences
list1 = [1, 2, 3, 4, 5]
str1 = "Hello World"
dict1 = {1: "Geeks", 2:"for", 3:"geeks"}

# using membership 'in' operator
# checking an integer in a list
print(2 in list1)

# checking a character in a string
print('O' in str1)


# checking for a key in a dictionary
print(3 in dict1)

True
False
True

conditional statement

In [30]:
age =19
if(age>18):
    print("eligible for vote")

# elif(age>17):
#     print("also for driving ")   
else:
    print("not eligible for vote")

eligible for vote

In [50]:
a=int(input("enter any number"))
if a%2==0:
    print("even number")
else:
    print("odd")

odd

In [34]:
a=[1,2,34,5,6]
for n in a:
    print(n)

1
2
34
5
6

In [ ]:
a={
    "name": "xyz",
    "class" : "btech"

}
for n in a:
    print(a)

{'name': 'xyz', 'class': 'btech'}
('name', 'xyz')
('class', 'btech')
{'name': 'xyz', 'class': 'btech'}
('name', 'xyz')
('class', 'btech')

In [40]:
for x in a.items():
        print(x)

('name', 'xyz')
('class', 'btech')

In [41]:
for x in a.keys():
        print(x)

name
class

In [42]:
for x in a.values():
        print(x)

xyz
btech

In [48]:
a=(1,2,3,4,5,6,7)
for x in a:
    # print(a)
    
        break

# while loop

In [49]:
count = 1
while count<=6:
    print(count)
    count+=1

1
2
3
4
5
6

# functions